#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
}

.cortarText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 450px;
}

.backgroundGral { background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgb(182, 182, 182) 67.4% ); }

@media all and (max-width: 575.99px) {
  .cortarText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
  }
}

@media all and (min-width: 576px) and (max-width: 768px) {
  .cortarText {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 300px;
  }
}
